.app {
  display: flex;
  height: 100vh - 60px;
}

.topbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #333;
  background: #1b1b1b;
}

.right-side {
  display: flex;
  gap: 30px;
}

#clock {
  font-size: 30px;
  font-weight: bold;
}

/* левая колонка со степпером */
.steps {
  width: 400px;
  padding: 20px;
  border-right: 1px solid #333;
}

/* каждый шаг */
.step {
  position: relative;
  padding: 5px 0px 5px 30px;
  margin-bottom: 20px;
}

/* вертикальная линия соединения */
.step::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: -20px;
  width: 2px;
  background: #444;
}

.step:first-child::before {
  top: 50%;
}

.step:last-child::before {
  display: none;
}

/* кружок-индикатор */
.step .dot {
  position: absolute;
  left: 2px;
  top: 15px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #666;
}

.step.active .dot {
  background: #1e88e5;
  /* синий для текущего шага */
}

.step.done .dot {
  background: #43a047;
  /* зелёный для выполненного */
}

/* заголовок шага */
.step-title {
  padding: 5px 0px 10px 10px;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}

.step-title:hover {
  background: #1b1b1b;
}

.step.active .step-title {
  color: #1e88e5;
  font-weight: bold;
}

/* правая основная область */
.content {
  flex: 1;
  padding: 30px;
}

/* кнопки */
.actions {
  margin-top: 30px;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
}

.step.viewed .dot {
  background: #607d8b;
  /* приглушённый */
}

.step.viewed .step-title {
  color: #90a4ae;
}

#reset-storage {
  border: 1px solid red;
  color: red;
  background: none;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}

#reset-storage:hover {
  background-color: red;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
