.page-staff {
  padding: 20px;
}
.page-staff .header {
  padding: 0 !important;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #444;
  padding: 8px 10px;
  text-align: left;
}

th {
  background: #1b1b1b;
}

tbody tr:not(.group-row):hover {
  background: #1b1b1b;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

#show-staff {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: inherit;
  text-decoration: none;
  border-color: inherit;
  border: 1px solid #555;
  border-radius: 3px;
  color: #e0e0e0;
}

#show-staff:hover {
  background: #222;
}
