.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.tile {
  display: block;
  padding: 30px;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  background: #444;
}

.tile.red {
  background: #b71c1c;
}

.tile.orange {
  background: #ef6c00;
}

.tile.blue {
  background: #1565c0;
}

.tile .title {
  font-size: 20px;
  font-weight: bold;
}

.tile .desc {
  margin-top: 10px;
  opacity: 0.8;
}

.header #clock {
  font-size: 30px;
  font-weight: 600;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
